<hr>
<div class="row">
  <div class="col-md-7">
    <a href="http://<%= project.url %>">
      <%= image_tag(project.picture.url, class: 'img-responsive') if project.picture? %>
    </a>
  </div>
  <div class="col-md-5">
    <h3><%= project.title %></h3>
    <h4><%= project.subhead %></h4>
    <p><%= markdown(project.description) %></p>
    <a class="btn btn-primary" href="http://<%= project.url %>">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    <% if current_user.present? %>
      <hr>
      <%= link_to "Edit", edit_project_path(project) %> |
      <%= link_to "Delete", project_path(project), method: :delete,
        data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>

